@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection { /* Code for Firefox */
    color: transparent;
    background: transparent;
}

::selection {
    color: transparent;
    background: transparent;
}

/** SMOOTH SCROLL **/
html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-button {
    background-color: #bfbfbf;
    height: 7px;
}

::-webkit-scrollbar-track-piece {
    background-color: #e4e4e4;
}

::-webkit-scrollbar-thumb:vertical {
    background-color: #bfbfbf;
    border-top: 1px solid #a4a4a4;
    border-bottom: 1px solid #a4a4a4
}

::-webkit-scrollbar-thumb:horizontal {
    background-color: black;
}
